body{
    width:450px;
    height:auto;
    background-color:aliceblue !important;
 }
 h1{
     color:#191919; 
    font-family: "Helvetica";
    text-align: center;
 }

 #sitebody{
    display: flex;
    font-size: 9px;
    padding:3px; 
    flex-direction: row;
    flex-wrap: wrap;

 }
 section{
    margin:5px;
    text-align:center;
 }
 img{
    width:40px;
    height:40px;
    border-radius: 50%;
    
 }
 p{
     /*display: inline;*/
 }
 #regard{
     text-align:center;
     color:black;
     font-family: "Comic Sans MS";
     font-size:9px;
     }
  #my_button{
    margin-top: 1px !important;
  }
  input{
    border: transparent;
    outline: none;
  }


/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
